packages:
  yum:
    geos-devel: []

container_commands:
  01_install_gdal:
    command: |
      source /opt/python/run/venv/bin/activate
      cd /tmp/
      aws s3 cp s3://elasticbeanstalk-us-east-2-722334429213/gdal/libproj.so .
      sudo cp libproj.so /usr/lib64/
      aws s3 cp s3://elasticbeanstalk-us-east-2-722334429213/gdal/gdal-2.4.4-amz1.tar.gz .
      sudo tar -xf gdal-2.4.4-amz1.tar.gz -C /usr/local
      export LD_LIBRARY_PATH="/usr/local/lib:$LD_LIBRARY_PATH"
      sudo ldconfig