option_settings:  
  aws:elasticbeanstalk:container:python:     
    WSGIPath: mapbackend/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mapbackend.settings
    PYTHONPATH: "/opt/python/current/app/mapbackend:$PYTHONPATH"
    LD_LIBRARY_PATH: "/usr/local/lib/:$LD_LIBRARY_PATH"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
  aws:ec2:instances:
    InstanceTypes: "t3a.medium"
