container_commands:
  00_pip_upgrade:
    command: "source /opt/python/run/venv/bin/activate && pip install --upgrade pip"
    ignoreErrors: false
  01_setup_django_logs:
    command: |
      mkdir -p /var/log/app-logs
      chmod g+s /var/log/app-logs
      chown wsgi:wsgi /var/log/app-logs
  02_collectstatic:
    command: "export LD_LIBRARY_PATH=\"/usr/local/lib:$LD_LIBRARY_PATH\" && python manage.py collectstatic --noinput"